In [2]:
import os
a=os.listdir('.')
a

[' Lecture3_Slicing_Brodcasting.ipynb',
 '.ipynb_checkpoints',
 'Lecture2_Slicing.ipynb',
 'Lecture3_Pandas_Series_DataFram.ipynb',
 'Lecture4.ipynb',
 'Practice_Q2',
 'student.csv',
 'Untitled.ipynb']

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('student.csv')

In [4]:
df=pd.read_csv('student.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
1,022-14-19987,BS(CS),Abdul Basit,28,8,3,8,7,9,9,45,25,70,B
2,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10,32,18,50,F
3,022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,10,10,33,30,63,C
4,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2,23,23,46,F

# Making dictionary from csv

In [39]:
import csv
with open('student.csv') as f:
    l = list(csv.reader(f)

TypeError: '_csv.reader' object is not callable

In [ ]:
#a=[x,y,z] xyz are list
#zp=zip(*a) 
#z=[1,23,3,3] paking
#a,b,c,d=z unpaking

In [ ]:
#missing here

In [5]:
import sys
data.to_csv(sys.stdout, sep='|')
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

SyntaxError: invalid syntax (<ipython-input-5-8c17a505de67>, line 3)

# JSON

In [35]:
obj = """{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},{"name": "Katie", "age": 38,"pets": ["Sixes", "Stache", "Cisco"]}]}"""
obj

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},{"name": "Katie", "age": 38,"pets": ["Sixes", "Stache", "Cisco"]}]}'